<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
 <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Shop lapTop</title>
<!-- Favicons Icon -->
<link rel="icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://demo.magikthemes.com/skin/frontend/base/default/favicon.ico" type="image/x-icon" />
<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS Style -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="css/revslider.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="css/owl.theme.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.css" type="text/css">
<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<footer th:fragment="html_footer" class="footer" style="background-color: #9c9c9c">

    <div class="footer-middle container">
      <div class="col-md-2 col-sm-4">
        <h4 style="color: #0f0f0f">Điều khoản</h4>
        <ul class="links">
          <li class="first"><a style="color: #0f0f0f" href="#" title="How to buy">Mua Hàng</a></li>
          <li><a style="color: #0f0f0f" href="#" title="Payment">Thanh toán</a></li>
          <li><a style="color: #0f0f0f" href="delivery.html" title="delivery">Vận chuyển</a></li>
          <li class="last"><a style="color: #0f0f0f" href="#" title="Return policy">Trả Hàng</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4 style="color: #0f0f0f">Style Advisor</h4>
        <ul class="links">
          <li class="first"><a style="color: #0f0f0f" title="Your Account" href="login.html">Tài khoản</a></li>
          <li><a style="color: #0f0f0f" title="Information" href="#">Thông tin</a></li>
          <li><a style="color: #0f0f0f" title="Addresses" href="#">Địa chỉ</a></li>
          <li><a style="color: #0f0f0f" title="Addresses" href="#">Khuyến mãi</a></li>
          <li><a style="color: #0f0f0f" title="Orders History" href="#">Lịch sử order</a></li>
      
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <h4 style="color: #0f0f0f">Thông tin</h4>
        <ul class="links">
          
          <li><a style="color: #0f0f0f" href="contact_us.html" title="Contact Us">Liên hệ</a></li>
          <li><a style="color: #0f0f0f" href="#" title="Suppliers">Hỗ trợ</a></li>
      
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4 style="color: #0f0f0f">Liên hệ</h4>
        <div class="contacts-info">
          <address style="color: #0f0f0f">
          <i class="add-icon">&nbsp;</i>Thủ Đức, Thành phố Hồ Chí Minh <br>
          &nbsp;ĐH
          </address>
          <div class="phone-footer"><i class="phone-icon">&nbsp;</i>#</div>
          <div class="email-footer"><i class="email-icon">&nbsp;</i> @</div>
        </div>
      </div>
    </div>
    <div class="footer-bottom container">
    
    </div>
  </footer>
 
</body>
</html>